In [2]:
import pandas
import folium
import os

In [3]:
data = pandas.read_csv("volcanoes.csv")
data

                 NAME        STATE  HEIGHT  LATITUDE  LONGITUDE
0  Mt Saint Augustine       Alaska   1252m     29.90     -81.31
1        Red Mountain      Arizona   2428m     35.52    -111.87
2         Lassen Peak   California   3189m     40.50    -121.42
3   La Garita Caldera     Colorado   4274m     37.75    -106.93
4            Hualalai       Hawaii   2521m     19.69    -155.87

In [4]:
data["LATITUDE"]

0    29.90
1    35.52
2    40.50
3    37.75
4    19.69
Name: LATITUDE, dtype: float64