In [24]:
import pandas
from datetime import datetime
from pytz import utc
data = pandas.read_csv("reviews2.csv", parse_dates = ["Timestamp"])
data.head()

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN

In [25]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
8,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 21:58:40+00:00,5.0,NaN
9,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 20:13:27+00:00,5.0,NaN

In [26]:
type(data)

pandas.core.frame.DataFrame

In [27]:
grouped_average = data.groupby(["Course Name"]).mean()
grouped_average

,Timestamp,Rating,Comment
Course Name,,,
The Python Mega Course: Build 10 Real World Applications,2021-04-02 01:58:23.100000+00:00,4.55,NaN

In [30]:
data2 = data.drop("Course Name", axis=1)
data2
#Dropping the Course Name column

                  Timestamp  Rating  Comment
0 2021-04-02 06:25:52+00:00     4.0      NaN
1 2021-04-02 05:12:34+00:00     4.0      NaN
2 2021-04-02 05:11:03+00:00     4.0      NaN
3 2021-04-02 03:33:24+00:00     5.0      NaN
4 2021-04-02 03:31:49+00:00     4.5      NaN
5 2021-04-02 01:10:06+00:00     4.5      NaN
6 2021-04-02 00:44:54+00:00     4.5      NaN
7 2021-04-01 23:42:02+00:00     5.0      NaN
8 2021-04-01 21:58:40+00:00     5.0      NaN
9 2021-04-01 20:13:27+00:00     5.0      NaN

In [31]:
data3 = data2.drop("Comment", axis=1)
data3
#Dropping Comment column

                  Timestamp  Rating
0 2021-04-02 06:25:52+00:00     4.0
1 2021-04-02 05:12:34+00:00     4.0
2 2021-04-02 05:11:03+00:00     4.0
3 2021-04-02 03:33:24+00:00     5.0
4 2021-04-02 03:31:49+00:00     4.5
5 2021-04-02 01:10:06+00:00     4.5
6 2021-04-02 00:44:54+00:00     4.5
7 2021-04-01 23:42:02+00:00     5.0
8 2021-04-01 21:58:40+00:00     5.0
9 2021-04-01 20:13:27+00:00     5.0

In [32]:
grouped_avg = data3.groupby(["Rating"]).mean()
grouped_avg

                                 Timestamp
Rating
4.0    2021-04-02 05:36:29.666666496+00:00
4.5    2021-04-02 01:48:56.333333248+00:00
5.0    2021-04-01 23:21:53.249999872+00:00